{% extends 'baseLogin.html.twig' %}

{% block title %}Log in!{% endblock %}


 {%  block contentForm %}

     <div class="p-3">
         <h2 class="mb-2">Gestion de stock</h2>

         <form method="post" action="{{ path('login') }}" class="needs-validation" novalidate="novalidate" id="formLogin">
             {% if error %}
                 <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
             {% endif %}
             <div class="row">
                 <div class="col-lg-12">
                     <div class="floating-label form-group">
                         <input class="floating-input form-control"  name="email" value="{{ last_username }}" type="email" placeholder=" ">
                         <label>Email</label>
                         <div class="invalid-feedback">
                             s'il vous plaît entre adresse mail
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-12">
                     <div class="floating-label form-group">
                         <input class="floating-input form-control" name="password" type="password" placeholder=" ">
                         <label>Mot de passe</label>
                         <div class="invalid-feedback">
                             s'il vous plaît entre le mot de passe
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
{#                     <div class="custom-control custom-checkbox mb-3">#}
{#                         <input type="checkbox" class="custom-control-input" id="customCheck1">#}
{#                         <label class="custom-control-label control-label-1" for="customCheck1">Remember Me</label>#}
{#                     </div>#}
                 </div>
                 <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

{#                 <div class="col-lg-6">#}
{#                     <a href="" class="text-primary float-right">Forgot Password?</a>#}
{#                 </div>#}
             </div>
             <button type="submit" class="btn btn-primary">Se connecter</button>
{#             <p class="mt-3">#}
{#                 Create an Account <a href="" class="text-primary">Sign Up</a>#}
{#             </p>#}
         </form>
     </div>


 {% endblock %}



