{% extends 'base.html.twig' %}

{% block title %} Liste des dépenses {% endblock %}

{% block stylesheets %}
{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">
               <li class="breadcrumb-item">
                   <a href="{{ path('dashboard_personelle') }}">Tableau de bord</a>
               </li>
               <li class="breadcrumb-item">
                   <a href="{{path('perso_index_depense')}}">dépenses</a>
               </li>
               <li class="breadcrumb-item">
                   <span>Ajouter </span>
               </li>
           </ul>
       {% endblock %}

        {% block content %}
            <div class="content-box">
                <div class="row">
                    <div class="col-sm-12 col-xxxl-12">
                        <div class="element-wrapper">
                            <h6 class="element-header">
                                Ajouter une dépenses
                            </h6>
                            <div class="element-box" style="min-height: 360px">

                                <form method="post" action="{{ path('perso_add_depense') }}" class="formAddDepense">
                                    <div class="table-responsive">
                                        <table class="table table-lightborder">
                                            <thead>
                                            <tr id="ligne_article_1">
                                                <th scope="col">#</th>
                                                <th scope="col">Date déponse</th>
                                                <th scope="col">Total TTC</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Designation</th>
                                            </tr>
                                            </thead>
                                            <tbody class="tbodyLingeArticle">

                                            </tbody>


                                        </table>

                                    </div>
                                    <button type="button" class="mt-2 btn btn-primary float-right addLingneArticle"><i
                                                class="fa fa-plus"></i>Autre
                                    </button>
                                    <button type="button" class="mt-5 btn btn-primary addDepense w-100"
                                    ><i
                                                class="fa fa-save"></i> Enregistrer
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        {% endblock %}

{% block javascripts %}
    <script>   $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

    </script>
    <script src="{{ asset('app/js/comercial/depense/add.js') }}"></script>
{% endblock %}