{% extends 'base.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block body %}

    {% for label, messages in app.flashes(['warning', 'error','success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Edit Location</h1>

    {{ form(locationForm) }}

{% endblock %}

{% block javascripts %}
    <script>
       function getData($country) {
            var $form = $country.closest('form');
            var data = {};
            data[$country.attr('name')] = $country.val();
            $.ajax({
                url: '{{ url('location_new') }}',
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    $('#location_city').replaceWith(
                        $(html).find('#location_city')
                    );
                }
            });
        }

        $country = $('#location_country');
        getData($country);

        $country.change(function () {
            getData($country);
        });            
    </script>
{% endblock %}
