<div class="step-content" id="stepContent4">
    <h1 class="text-center" style="color: green">Paiement  a été effectué avec succès </h1>
    <div class="form-buttons-w text-right">
        <button class="btn btn-primary">Submit Form</button>
    </div>
</div>
