<div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Montant Espece</label>
                <input style="font-size: 20px; color: black" class="form-control montant" value="0.000"  pattern="[0-9]" name="montant"  type="text">
            </div>
    </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label  style="opacity: 1" for="">Montant reste</label>

                <input  style="font-size: 20px" class="form-control reste" value="0.000"   name="reste"  type="text" disabled>
            </div>
    </div>
    <div class="col-sm-4">
            <div class="form-group">
                <label  style="opacity: 1" for="">Montant retenue</label>

                <input  style="font-size: 20px" class="form-control retenue" value="0.000"   name="retenue"  type="text" disabled>
            </div>
    </div>
</div>