<div aria-hidden="true" class="onboarding-modal modal fade animated" id="onboardingSlideModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        class="close-label"></span><span
                        class="os-icon os-icon-close"></span></button>
            <div class="onboarding-slider-w">
                <div class="onboarding-slide">

                    <div class="onboarding-content with-gradient">
                        <h4 class="onboarding-title">
                            Changer le type de paiement
                        </h4>
                        <div class="onboarding-text">
                            In this example you can see a form where you can request some additional information from
                            the customer when they land on the app page.
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <select name="type_payement" class="type_payement form-control">
                                            <option selected disabled value="0">Choisir un type de paiement</option>
                                            <option value="1">Espece</option>
                                            <option value="2">Cheque</option>
                                            <option value="3">Carte</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="  btn btn-md btn-icon btn-primary float-right saveNewType"
                                                data-placement="top" title=""
                                                type="button"
                                                style="color: white"
                                        >
                                            Enregistrer

                                        </button>
                                        <button class=" mr-2 btn btn-md btn-icon btn-danger float-right"
                                                data-placement="top" data-dismiss="modal"
                                                type="button"
                                                style="color: white"
                                        >
                                            Annuler

                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
