{% extends 'base.html.twig' %}

{% block title %} tableau de bord{% endblock %}

{% block stylesheets %}

{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">
               <li class="breadcrumb-item">
                   <a href="{{ path('dashboard_personelle') }}">Vente</a>
               </li>

           </ul>

       {% endblock %}
        {% block content %}


        {% endblock %}


{% block javascripts %}


{% endblock %}