{% extends 'base.html.twig' %}

{% block title %} Error 404  {% endblock %}

{% block stylesheets %}

{% endblock %}
       {% block smenu %}
           <ul class="breadcrumb">

           </ul>
       {% endblock %}

        {% block content %}
            <div class="big-error-w">
                <h1>
                    403
                </h1>
                <h5>
                    Access Denied.

                </h5>
                <h4>

                </h4>

            </div>




        {% endblock %}


{% block javascripts %}

{% endblock %}