<div aria-hidden="true" class="onboarding-modal modal fade animated" id="modalConfirmChangePrix" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Skip Intro</span><span
                        class="os-icon os-icon-close"></span></button>
            <div class="onboarding-slider-w">
                <div class="onboarding-slide">
                    <div class="onboarding-media">
                    </div>
                    <div class="onboarding-content with-gradient">
                        <h4 class="onboarding-title">
                           Change des prix
                        </h4>
                        <div class="onboarding-text">
                            <h4>Vous ete sur du changer la prix , pour continuez cliquez sur "OUI"</h4>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-sm-4">
                                        <button class="btn btn-success btn-md InventerArticle" id="confirmeChangePrix">OUI</button>
                                </div>
                                <div class="col-sm-4">

                                        <button aria-label="Close" class=" btn btn-md btn-danger AnnulerModif" id="Annuler"
                                                data-dismiss="modal" type="button">NON
                                        </button>
                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
