<div class="row">
    <div class="col-md-12 flash-bag-msg">
        {% if app.session.flashBag.has('success') %}



            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                            aria-hidden="true"> ×</span></button>
                <strong>  {% for msg in app.session.flashBag.get('success') %}

                        {{ msg|trans }}
                    {% endfor %} </strong>
            </div>







        {% endif %}

        {% if app.session.flashBag.has('error') %}

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                            aria-hidden="true"> ×</span></button>
                <strong>  {% for msg in app.session.flashBag.get('error') %}

                        {{ msg|trans }}
                    {% endfor %} </strong>
            </div>



        {% endif %}


        {% if app.session.flashBag.has('info') %}

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                            aria-hidden="true"> ×</span></button>
                <strong>  {% for msg in app.session.flashBag.get('info') %}

                        {{ msg|trans }}
                    {% endfor %} </strong>
            </div>



        {% endif %}


        {% if app.session.flashBag.has('warning') %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                            aria-hidden="true"> ×</span></button>
                <strong>  {% for msg in app.session.flashBag.get('warning') %}

                        {{ msg|trans }}
                    {% endfor %} </strong>
            </div>



        {% endif %}


    </div>
</div>
